/* Woocommerce */
#woocommerce-product-data .type_box .tips,
#woocommerce-product-data .shipping_options,
#woocommerce-product-data .advanced_options,
#woocommerce-product-data .attribute_options,
#woocommerce-product-data .linked_product_options,
#woocommerce-product-data ._sale_price_field {
    display: none !important;
}

/* ACF */
.acf-single-repeater .acf-row .acf-row-handle .acf-icon,
.acf-single-repeater .acf-button.disabled {
  display: none;
}

.acf-single-repeater .acf-row .acf-fields .acf-row-handle .acf-icon {
  display: block;
}